.searchResult{
    min-height: 100vh;
    padding-bottom: 310px;
}

.search-message{
    text-align: center;
}
.search-message h2{
	font-size: 1.5rem;
}

@media (max-width: 450px)
{
    .searchResult{
    padding-bottom: 420px;
    }
}